<!DOCTYPE html>  <html> 
<!-- rails generate devise:views 
the above command will copy the devise views into our   -->
<head> 
<title>Workout App</title> 
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
<%= csrf_meta_tags %> 
</head>  
<body> 
	<!-- links the code from _main and _header -->
	<%= render 'shared/header' %> 
	<%= render 'shared/main' %>
</body>  
</html>






